body {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 0.25fr 1fr;
}

.header{
    padding: 0;
    margin:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    background-color: aquamarine;
}

.menu {

}